<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRESENTIA - Gestion de présence académique</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <header>
    <div class="logo">
        <img src="../static/photos/logo.png" alt="Presentia Logo">
    </div>
    <nav>
      <ul>
        <li><a href="#">Pour Étudiant</a></li>
        <li><a href="#">Pour Professeur</a></li>
        <li><a href="#">Pour Administration</a></li>
        <li class="connexion"><a href="#">Connexion</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="hero">
      <h1>Welcome to PRESENTIA</h1>
      <p>Oubliez le comptage manuel, laissez-nous compter pour vous ! </p>
      <p>L'absence d'absence, c'est notre présence d'esprit ! </p>
    </section>
    <section class="cards">
        <a href="student.html" class="card">  
            <div>
                <img src="../static/photos/42636.jpg" alt="Student Life">
                <h2>Étudiant</h2>
            </div>
        </a>
        <a href="teaching.html" class="card">
            <div>
                <img src="../static/photos/professeur.jpg" alt="Teaching">
                <h2>Professeur</h2>
            </div>
        </a>
        <a href="admin.html" class="card">
            <div>
                <img src="../static/photos/administration.jpg" alt="Administration">
                <h2>Administration</h2>
            </div>
        </a>
    </section>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </main>
  <footer>
    <!-- Footer content goes here -->
  </footer>
</body>
</html>
